* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin-top: 4rem;
  height: 70vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url("./assets/interior.jpg") center no-repeat;
  background-size: cover;
}

.header {
  position: relative;
  top: 240px;
  margin: auto;
  width: max-content;
  text-align: center;
  text-transform: uppercase;
  color: darkkhaki;
  font-size: 38px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: darkkhaki;
  height: 6rem;
}

button {
  padding: 1rem;
  border-radius: 4px;
  border-style: none;
  margin-left: 2rem;
}

footer {
  margin-top: 2rem;
  text-align: center;
  text-transform: uppercase;
}

footer a {
  color: darkkhaki;
}
